a {
    color:white;
    text-decoration: inherit;
}
form {
    margin-bottom: 0;
}
form span {
    color: red;
}
input[type="text"], input[type="password"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
input, button {
    outline: none;
}
button {
    cursor: pointer;
}
input:focus::placeholder{
    color:transparent;
}
body {
    margin: 0;
    overflow-y: hidden;
}
#menu {
    width:100%;
    height: 75px;
    background-color: #1986E1;
    position:fixed;
    text-align: right;
    z-index: 20;
    /* padding: 10px; */
}
#icon {
    float: left;
}
.menu_item {
    display:inline-block;
    position: relative;
    line-height: 75px;
    color:#c2E2FD;  
    width:150px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu_item:hover {
    color:white;
}
#main{
    top: 75px;
    height: calc(100% - 75px);
    position: relative;
    overflow-y: auto;
}
#banner_container{
    height:300px;
    position: relative;
    background-image: url("../imgs/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* #banner {
    height:100%;
    width:100%;
} */
#banner_content {
    left:10%;
    right:10%;
    position:absolute;
    top:20%;
    width:80%;
    font-size: 30px;
    color: white;
}
#banner_content div{
    background-color: #FFBB5D;
    position: relative;
    width:100%;
}
#banner_container a{
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    color: #8dc9fa;
    width:100px;
    padding:5px;
    /* box-shadow: 5px 5px 5px grey; */
    display: inline-block;
    width: 50%;
}
#login_container {
    position: absolute;
    /* background-color: rgba(255,255,255,0.7); */
    /* height: calc(100% - 20px); */
    height:100%;
    /* width: 50%; */
    width:100%;
    right: 0;
    /* margin: 10px; */
}
#login{
    /* display: inline-block; */
    width: 55%;
    height:100%;
    position: absolute;
    left: 0;
    transition-timing-function: linear;
    transition-duration: 0.75s;
    background-color: white;
}
#login.on {
    left:45%;
}
#login form {
    margin: 10%;
    /* position: absolute; */
}
#login form input {
    width:100%;
}
#login form input:hover {
    background-color: gainsboro
}
#login form button {
    background-color: white;
    border-radius: 12px;
    border: solid 1px #8DC8FA;
    padding: 12px;
    width:30%;
}
#login form button:hover { 
    border-width: 2px;
    background-color: gainsboro;
}
#login_switch {
    /* background-color: rgba(255, 170, 53, 0.5); */
    /* display:inline-block; */
    text-align: center;
    position: absolute;
    width:45%;
    height:100%;
    left:55%;
    animation-name: login_switch_r;
    animation-timing-function: linear;
    background-image: url("../imgs/login.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
#login_switch.on {
    animation-name: login_switch;
    animation-fill-mode: forwards;
    animation-duration: 0.75s;
}
#login_switch button {
    background-color: white;
    border-radius: 12px;
    border: solid 1px #8DC8FA;
    padding: 12px;
    width:30%;
}
.hidden {
    display:none;
}
@keyframes login_switch {
    0% {left: 55%; width: 45%;background-position: right;}
    /* background-color: #FFAA35} */
    50% {width: 60%;}
    100% {left:0; width:45%;background-position: left;}
    /* background-color: #FFBB5D} */
}
@keyframes login_switch_r {
    0% {left:0; width:45%;background-position: left;}
    /* background-color: #FFBB5D} */
    50% {width: 60%;}
    100% {left: 55%; width: 45%;background-position: right;}
    /* background-color: #FFAA35} */
}
@media only screen and (max-width: 590px) {
    
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #recommendedRoute {
    display: none;
    text-align: center;
    right:10px;
    top:100px;
  }